extends layout

block titleblock
  .text-center.pagination-centered
    h1 About PLØ!
block content
  .text-center.pagination-centered
    h1 More info:
    a(href="https://github.com/EleDiaz/PL0") Repository Public
    br
    a(href="https://github.com/ULL-ESIT-GRADOII-PL/proyecto-ele-daniel-1") Repository ULL
    
    h1 Authors page:
    a(href="http://elediaz.github.io/") Eleazar's Page
    br
    a(href="http://alu0100845235.github.io/") Ruymán's Page
    
    
