extends layout

block content
  .content
    .text-center.pagination-centered
      h1 Compile
  .col-sm-2
    nav.navbar.navbar-default.sidebar(role='navigation')
        .container-fluid
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-sidebar-navbar-collapse-1')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
          #bs-sidebar-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
              li.active
                a(href='#')
                  | Home
                  span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-home(style='font-size:16px;')
              li
                a(href='#')
                  | Libros
                  span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-th-list(style='font-size:16px;')
              li
                a(href='#')
                  | Tags
                  span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-tags(style='font-size:16px;')
  .col-sm-10
    // Panel de código PL0
    .panel.panel-default.col-sm-6
      .panel-heading
        h3.panel-title.text-center Código en PLØ
      .panel-body
        #editor.codeEditor
      .panel-footer
        div.wrapper
          button(type="button").btn#load Load  
            span.glyphicon.glyphicon-cloud-upload
          button(type="button").btn#save Save  
            span.glyphicon.glyphicon-cloud-download
          button(type="button").btn#run Compile  
            span.glyphicon.glyphicon-fire
    
    // Panel de código resultado
    .panel.panel-default.col-sm-5.col-sm-offset-1
      .panel-heading
        h3.panel-title.text-center Código en JavaScript
      .panel-body
        #resultCode.codeEditor
      .panel-footer
        div.wrapper
          button(type="button").btn#donwload Download  
            span.glyphicon.glyphicon-cloud-download
  
    // Panel de código resultado
    .panel.panel-default.col-sm-12
      .panel-heading
        h3.panel-title.text-center Árbol generado
      .panel-body
        #treeGenerate.codeEditor
      .panel-footer
        div.wrapper
          button(type="button").btn#donwload Download  
            span.glyphicon.glyphicon-cloud-download
      
block otherScripts
  script(src="/javascripts/src-noconflict/ace.js" charset="utf-8")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js", charset="utf-8")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jade/1.11.0/jade.min.js", charset="utf-8")
  script(src="/javascripts/App.js" charset="utf-8")
