mixin click(link)
  a(href="/"+link.toLowerCase())
    h2 #{link}

mixin selectedTab(name)
  if select == name
    .tab.is-tab-selected
      +click(name)
  else
    .tab
      +click(name)

doctype html
html(lang='es')
  head
    title PLØ - #{select}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .centeredPrompt
      .centeredPrompt__item.centeredPromptLabel
        h1 Welcome to PLØ!

      .tabs
        +selectedTab('Features')
        +selectedTab('Examples')
        +selectedTab('About')

      block content

  block otherScripts
  //
