mixin click(link)
  a(href="/"+link.toLowerCase())
    h2 #{link}

mixin selectedTab(name)
  if select == name
    .tab.is-tab-selected
      +click(name)
  else
    .tab
      +click(name)

doctype html
html(lang='es')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .centeredPrompt
      .centeredPrompt__item.centeredPromptLabel
        h1 Welcome to PLØ 1 "#{title}"!

      .tabs
        +selectedTab('Features')
        +selectedTab('Examples')
        +selectedTab('About')

    block content

  script(src="/javascripts/src-noconflict/ace.js" charset="utf-8")
  block otherScripts
  //
