mixin click(link)
  a(href="/"+link.toLowerCase())
    h2 #{link}

mixin selectedTab(name)
  if select == name
    .tab.is-tab-selected
      +click(name)
  else
    .tab
      +click(name)

doctype html
html(lang='es')
  head
    title PLØ - #{select}
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/sidebar.css')
    link(rel='stylesheet', href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel='stylesheet', href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css")
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type="button", data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only
            span.iconbar
            span.iconbar
            span.iconbar
          a.navbar-brand(href="/") PLØ
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href="/Examples") Compile
            li
              a(href="/About") About
          ul.nav.navbar-nav.navbar-right
            li
              a(href="/Examples") Sign Up  
                span.glyphicon.glyphicon-user
            li
              a(href="/About") Login  
                span.glyphicon.glyphicon-log-in
    .row          
      block titleblock
    .row
      block content

  block otherScripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js", charset="utf-8")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jade/1.11.0/jade.min.js", charset="utf-8")
